<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Looking for a Web Developer role that is challenging, has room for growth, and fosters creativity and innovation.<br><br>
                    I’m a graduate of a 1000+ hour bootcamp specializing in full-stack web development.<br><br>
                    My journey to coding started when I was working at a startup in Shanghai as a data analyst in tandem with developers on projects. I discovered that I wanted more involvement in the development process.  After the startup wound down, I became committed to learning coding.<br><br>
                    With the experiences I’ve gained working in adventurous & exciting environments, as well as the acquired toolbox of programming, I am ecstatic to hit the ground running in a career of web development!
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">My Skills</a>
            </div>
        </div>
    </div>
</section>

