<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to reach out to me? That's great! Drop me a line or send me an email and i'll try to get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>708-856-5579</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:eddieverity@gmail.com">eddieverity@gmail.com</a></p>
            </div>
            <div>
                    <a href="https://github.com/eddieverity">
                        <%= image_tag "creative/badges/github.png", class: "mylinks_badges", alt: "" %>
                    </a>
                    <a href="https://www.linkedin.com/in/eddie-verity/">
                        <%= image_tag "creative/badges/linkedin.png", class: "mylinks_badges", alt: "" %>
                    </a>
            </div>
        </div>
    </div>
</section>

