<header>
    <div class="header-content" id="page-top">
        <div class="header-content-inner">
            <h1>Edward Verity</h1>
            <hr>
            <p>Full Stack Web Developer</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>

